In [558]:
# import Pandas library and data

import pandas as pd

data = pd.read_csv("C:/Users/darla/Desktop/Titanic" + "/train_and_test2.csv")
data.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [559]:
# Separation of features(X) and Y target(Y)
X = data[['Age', 'Fare','Sex', 'sibsp', 'Parch', 'Pclass']]
Y = data['2urvived']

# Division into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

print(X_train.shape, X_test.shape)
print(Y_train.shape, Y_test.shape)
print(X)

(1047, 6) (262, 6)
(1047,) (262,)
       Age      Fare  Sex  sibsp  Parch  Pclass
0     22.0    7.2500    0      1      0       3
1     38.0   71.2833    1      1      0       1
2     26.0    7.9250    1      0      0       3
3     35.0   53.1000    1      1      0       1
4     35.0    8.0500    0      0      0       3
...    ...       ...  ...    ...    ...     ...
1304  28.0    8.0500    0      0      0       3
1305  39.0  108.9000    1      0      0       1
1306  38.5    7.2500    0      0      0       3
1307  28.0    8.0500    0      0      0       3
1308  28.0   22.3583    0      1      1       3

[1309 rows x 6 columns]

In [560]:
#from sklearn.preprocessing import MinMaxScaler
#from sklearn.preprocessing import StandardScaler

#scaler = MinMaxScaler()
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.fit_transform(X_test)

#stan = StandardScaler()
#X_train = stan.fit_transform(X_train)
#X_test = stan.fit_transform(X_test)

In [561]:
# Training of the machine learning algorithm

from sklearn.linear_model import LogisticRegression # import LogisticRegression class

model = LogisticRegression() # Creates an instance of the logistic regression model
model.fit(X_train,Y_train) # Trains the model on training data

Y_pred = model.predict(X_test) # Use trained model to make predictions
Y_pred_proba = model.predict_proba(X_test) # Uses trained model to make probabilities

In [562]:
# Evaluation of model accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_pred))

0.7709923664122137

In [563]:
# Model testing by a user

Age = float(input("Enter the passenger's age:"))
Fare = float(input("Enter the passenger's fare:"))
Sex = int(input("Enter the passenger's sex (0 for male, and 1 for female):"))
sibsp = int(input("Enter the passenger's sibsp (1 if sibsp, and 0 if not):"))
Parch = int(input("Enter the passenger's parch (1 if Parch, and 0 if not):"))
Pclass = int(input("Enter the passenger's Pclass (from 1 to 3):"))

Z = pd.DataFrame([{
    "Age": Age,
    "Fare": Fare,
    "Sex": Sex,
    "Sibsp": sibsp,
    "Parch": Parch,
    "Pclass": Pclass,
}])

Z_pred = model.predict(Z)
print(Z_pred)

Z_pred_proba = model.predict_proba(Z)
print(Z_pred_proba)

if Z_pred == [0]:
    print ("The passenger did not survive. His chances of survival was", int((Z_pred_proba[0][1]) * 100), "%")
else:
    print ("The passenger survived. His chances of survival was", int((Z_pred_proba[0][1]) * 100), "%")

[0]
[[0.91789754 0.08210246]]
The passenger did not survive. His chances of survival was 8 %