In [48]:
import pandas as pd

data = pd.read_csv("C:/Users/darla/Desktop/Projets/Titanic"+"/train_and_test2.csv")
data.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [49]:
X = data[['Age', 'Fare','Sex', 'sibsp', 'Parch', 'Pclass']]
Y = data['2urvived']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.25, random_state=42)

In [50]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

def evaluate_classification_models(models, X_train, y_train, X_test, y_test):
    results = {}
    for model_name, model in models.items():
        model.fit(X_train, y_train)
        y_pred=model.predict(X_test)
        accuracy=accuracy_score(y_test, y_pred)
        results[model_name]=accuracy
    return results

In [51]:
models={
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'K-Neighbors': KNeighborsClassifier(),
    'Support Vector Machine': SVC(),
    'Gaussian Naive Bayes': GaussianNB()
    }
results = evaluate_classification_models(models, X_train, y_train, X_test, y_test)
print(results)

{'Logistic Regression': 0.7560975609756098, 'Random Forest': 0.7164634146341463, 'Decision Tree': 0.6859756097560976, 'K-Neighbors': 0.725609756097561, 'Support Vector Machine': 0.725609756097561, 'Gaussian Naive Bayes': 0.7408536585365854}